[Desktop Entry]
Name=Inline Battery

Type=Service
Icon=battery
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Kelvin Zhang
X-KDE-PluginInfo-Email=me@kelvinzhang.ca
X-KDE-PluginInfo-Name=org.kde.plasma.inlineBattery
X-KDE-PluginInfo-Version=5
X-KDE-PluginInfo-Website=https://kelvinzhang.ca
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
